.hidden{
    display: none;
}
.centercontent{
	text-align: center;
}
html,
body {
    height: 100%;
}
html {
    /*display: table;*/
    margin: auto;
}
body {
    /*display: table-cell;*/
    /*vertical-align: middle;*/
}
.margin {
  margin: 0 !important;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}
#loadinggif {
    position: fixed;
    background: rgba(255, 255, 255, 0.8) url('../img/loading.gif') no-repeat center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    display: none;
}